html, body {
    background: radial-gradient(circle, #1f1f1f 20%, #3f3f3f 20%) center/10px 10px;

    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;

    scroll-behavior: smooth;
    height: 100%;
    overflow: hidden;
}


main {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}


::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #00bae2;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00cde7;/*#288BAF;*/
}



/* Navbar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(26, 26, 26, 0.95);
    padding: 15px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff9800;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: #1a1a1a;
    box-shadow: 8px 0 16px #0f0f0f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    transition: left 0.3s ease-in-out;
    z-index: 1100;
}

.sidebar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 4px 4px 8px #0f0f0f, -4px -4px 8px #292929;
    margin-bottom: 20px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
}

.sidebar nav ul li {
    margin: 20px 0;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    display: block;
    padding: 10px 0;
    transition: background 0.3s, color 0.3s ease;
}

.sidebar nav ul li a:hover {
    background: #333;
    color: #ff9800;
}



.btn {
    border-radius: 24px;
    background: #cfcfcf;
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn:hover {
    background: #1f1f1f;
    color: #fff;
}



/* Sidebar Toggle Button */
.menu-toggle {
    position: fixed;
    top: 15px;
    left: 20px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    z-index: 1200;
}

/* Sidebar Active */
.sidebar.active {
    left: 0;
}

/* Hero Section */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    background: url('banner.jpg') center/cover no-repeat;
    background-size: cover;
}

.hero img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-shadow: 8px 8px 16px #0f0f0f, -8px -8px 16px #292929;
    margin-bottom: 20px;
}

.hero .about-section {
    max-width: 600px;
}

.hero h1 {
    font-size: 3rem;
    margin: 10px 0;
}

.skill-items {
    min-width: 400px;
    max-width: 80vw;
    display: inline-flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.skill-item {
    justify-content: center;
    display: block;
}
.skill-items .skill-item p {
    padding: 0;
    justify-content: center;
    text-align: center;
    margin: 0;
}
.skill-items .skill-item img {
    display: block;
    justify-self: center;
    width: 40px;
    height: 40px;
}

.skill-item-top {
    display: flex;
    width: 100%;
    justify-content: center;
}


/* Sections */
.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    scroll-snap-align: start;
}

/*
#skills {
    background: #2f2f2f;
}

#projects {
    background: transparent;
}

#ongoing-projects {
    background: #2f2f2f;
}

#relevant-skills {
    background: transparent;
}
*/


.neumorphic {
/*    background: #1a1a1a;*/
    background: #1a1aaa;
    box-shadow: 8px 8px 16px #0f0f0f, -8px -8px 16px #292929;
    border-radius: 12px;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    transition: transform 0.2s ease;
}

.neumorphic:hover {
    transform: scale(1.05);
}

.icons a {
    margin: 10px;
    padding: 15px;
    width: 40px;
    height: 40px;
    text-align: center;
    align-items: center;

    background-color: #6f6f6f;

    justify-content: center;
    display: inline-flex;
    text-decoration: none;
    color: white;
    border-radius: 50%;
    box-shadow: 6px 6px 12px #0f0f0f, -6px -6px 12px #292929;
    transition: transform 0.2s ease-in-out, background-color 0.3s ease;
}

.icons a:hover {
    transform: scale(1.1);
    background-color: #ff9800;
}



@media (max-width: 768px) {
    nav ul {
        justify-content: space-between;
    }

    nav ul li {
        margin: 0 10px;
    }
}


/**/
/**/
/**/
.grid-sizer {
    display: flex;
    gap: 40px;
    background: #2f2f2f;
    box-shadow: 8px 8px 16px #0f0f0f, -8px -8px 16px #222222;
    border-radius: 12px;
    padding: 20px;
    margin: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 90%;
    justify-content: center;
    overflow-y: scroll;
/*    transition: transform 0.2s;*/
}

/*.grid-sizer:hover {
    transform: scale(1.05);
}
*/

.grid-sizer::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}

.grid-sizer::-webkit-scrollbar-thumb {
  background: #00bae2;
  border-radius: 20px;
}

.grid-sizer::-webkit-scrollbar-thumb:hover {
  background: #00cde7;/*#288BAF;*/
}


.grid-sizer-no-bg {
    display: flex;
    gap: 40px;
    background: transparent;
/*    box-shadow: 8px 8px 16px #0f0f0f, -8px -8px 16px #222222;*/
    box-shadow: none;
    border-radius: 12px;
    padding: 20px;
    margin: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 90%;
    justify-content: center;
    overflow-y: scroll;
}


.grid-sizer-no-bg::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}

.grid-sizer-no-bg::-webkit-scrollbar-thumb {
  background: #00bae2;
  border-radius: 20px;
}

.grid-sizer-no-bg::-webkit-scrollbar-thumb:hover {
  background: #00cde7;/*#288BAF;*/
}




.card {
    width: 400px;
    border-radius: 16px;
    overflow: hidden;
    background: #1e1e1e;
    cursor: pointer;
    color: white;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.card:hover {
    border-radius: 32px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    transform: scale(1.025);
}

.card:not(:hover) {
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.0);
    transition: all 0.5s ease;
}


.card .card-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    max-height: 350px;
    min-height: 350px;
    display: block;
}
.card-content {
    padding: 15px;
}
.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.footer {
    display: flex;
    align-items: center;
    font-size: 14px;
    opacity: 0.7;
}
.footer img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.footer .icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}



.redirect-cover {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: inherit;
    height: 100%;
    border-radius: inherit;
    justify-content: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.redirect-cover:hover {
    opacity: 1;
}

.redirect-cover i, p {
    text-align: center;
    align-content: center;
    font-weight: 600;
}


